{% for chapter in collections.chapters %}
    <li>
        <a class="nav-link"
           href="#card-{{ chapter.data.title | slug }}"
           data-target="card-{{ chapter.data.title | slug }}"
           onclick="if(typeof closeMobileDrawer==='function') closeMobileDrawer()">
            {{ chapter.data.title }}
        </a>
    </li>
{% endfor %}
